<h2>Busquedas</h2>
<hr />
<ul class="list-group">
  <li routerLink="region" routerLinkActive="active" class="list-group-item">
    Por Region
  </li>
  <li routerLink="capital" routerLinkActive="active" class="list-group-item">
    Por Capital
  </li>
  <li
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    class="list-group-item"
  >
    Buscar Pais
  </li>
</ul>

<!--
* routerLink: es la ruta que se especifica en el path del app-routing.
* routerLinkActive: es lo que yo quiero activar cuando este en ese routerLink
* [routerLinkActiveOptions]: es un atributo que recibe una opcion
  -->
